{# giao diện dạng thẻ cho khách hàng xem #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center mt-4">
   <h1 class="alert alert-danger">Book List</h1>
   <div class="card-group mt-3">
      <div class="row">
         {% for book in books %}
            <div class="col-md-3 mt-3">
               <div class="card p-3">
                  <div class="card-img-top">
                     <a href="{{ path('book_detail', {'id': book.id })}}">
                        <img src="{{book.image}}" width="80" height="80">
                     </a>
                  </div>
                  <div class="card-title">
                     <h5 class="alert alert-heading">{{ book.title }} </h5>
                  </div>
                  <div class="card-subtitle">
                     <h4 class="text text-danger">{{ book.price }} $</h4>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}
