{% extends "layout.html.twig" %}
{% block title %} Page2 Demo {% endblock %}
{% block content %}
   <h2>This is demo2 page</h2>
   <a href="{{ path('demo1')}}">Link to demo1 page</a>
{% endblock %}
{% block footer %}
   <p class="alert alert-secondary">Web Project - WEBG301 - Summer 2022</p>
{% endblock %}